.header {
    position: absolute;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(#f1f1f1, 0.2),
        rgba(#ccc, 0.4)),
    url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    


    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
                background-image: linear-gradient(
                    to right bottom,
                    rgba(#f1f1f1, 0.2),
                    rgba(#ccc, 0.4)),
                url(../img/hero-small.jpg);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0,  rgba($color-primary-light, 0.8), 100% 0, 100% 85vh, 0 100%);
     
    }
    &__navbar{
        position: absolute;
        top: 3%;
        left: 10%;
        text-align: center;
        background-color: transparent;
        height: 10rem;
        width: 90rem;
        
    }
    &__nav-list {
        position: absolute;
        top: 10%;
        left: 10%;
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
    }

    &__item {
        margin: 1rem;
        
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
            font-weight: 600;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f7f7f7 50%);
            background-size: 250%;
            transition: all .2s;

           
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 1rem;
        color: #F5F5F5;
        font-size: 26px;
        padding: 10px;
        font-weight: 900;        
    }
    
    &__text-box {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }  
    &__sidebar{
        position: absolute;
        float: right;
        top: 30%;
        right: 0%;
        background-color: transparent;
        height: 40%;
        width: 5%;

    }
    &__icon{
        height: 60px;
        
    }
    &__icon-box{
        display: flex;
        text-align:center;
        justify-content: center;
        font-size: 36px;
        color: #ff0000;
        font-weight: 700;

    }
    &__icon-text{
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        color: lightgreen;
    }
}